::-webkit-scrollbar {
	display: none;
}
.root {
	flex-grow: 1;
}
.header {
	width: 100%;
	position: 'sticky';
}
.main {
	display: flex;
	justify-content: center;
	width: 100%;
}
.content {
	width: 100%;
}
